//colors
$color_donkey_brown_approx: #a89479;
$black_20: rgba(0,0,0,0.2);
$black: black;
$white: white;
$color_mine_shaft_approx: #36312a;
$color_soya_bean_approx: #695e4f;
$color_bistre_approx: #3d3020;
$black_50: rgba(0,0,0,0.5);
$color_mint_julep_approx: #f0ebc5;
$color_judge_gray_approx: #4f4335;
$color_dove_gray_approx: dimgrey;
$color_rhino_50_approx: rgba(57, 57, 99, .5);
$color_gigas_approx: darkslateblue;
$color_judge_gray_60_approx: rgba(79, 67, 53, .6);

//fonts
$font_0: sans-serif;
$font_1: font;
$font_2: Playfair Display;
$font_3: serif;

//urls
$url_0: url(../images/tablero.jpg);


.container {
	max-width: none;
}
#log {
	text-align: left;
	color: $color_donkey_brown_approx;
	width: 100%;
	height: 80%;
	background-color: $black_20;
}
.bannerBottom {
	text-align: center;
	color: $color_donkey_brown_approx;
	font-size: 15px;
	font-family: $font_0;
	font-weight: bolder;
	margin-top: 23px;
}
html {
	background-image: $url_0;
	background-size: 1750px;
	background-color: $black;
}
body {
	background-image: $url_0;
	background-size: 1750px;
	background-color: $black;
	color: $white;
	margin: auto;
	padding: 0;
	position: absolute;
	width: 100%;
}
#center2 {
	width: 100%;
	height: 220px;
	left: 0;
	padding: 0;
	margin-left: 0;
}
.row {
	margin-right: 0;
}
#main_one {
	width: 100%;
}
#center {
	width: 100%;
	height: 420px;
	left: 0;
	padding: 0;
	margin-left: 0;
}
#top {
	width: 100%;
	height: 50px;
	left: 0;
	padding: 0;
	margin-left: 0;
	background-color: $color_mine_shaft_approx;
	border-style: solid;
	border-color: $color_soya_bean_approx;
}
#bottom {
	background-color: $color_bistre_approx;
	width: 100%;
	height: 180px;
	left: 0;
	padding: 0;
	margin-left: 0;
	border-top: $color_soya_bean_approx;
	border-style: solid;
	border-width: 10px;
}
#colu3 {
	margin-right: auto;
	background-color: $black_50;
}
.colu {
	text-align: center;
	color: $color_donkey_brown_approx;
	margin-left: auto;
	width: 160px;
	height: 400px;
	margin-top: 15px;
}
.Button1 {
	margin: auto;
	background-color: $color_mint_julep_approx;
	width: 70px;
	align-content: center;
	text-align: center;
	color: $black;
	border-style: inset;
	border-color: $black;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 10px;
}
.colu2 {
	margin: auto;
	width: 160px;
	height: 180px;
}
.colA {
	margin-top: 20px;
	background-color: $color_judge_gray_approx;
	border-style: double;
	border-color: $color_dove_gray_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 15px;
}
.colB {
	margin-top: 20px;
	background-color: $color_rhino_50_approx;
	border-style: double;
	border-color: $color_gigas_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 15px;
}
.colC {
	margin-top: 20px;
	background-color: $color_judge_gray_60_approx;
	border-style: double;
	border-color: $color_dove_gray_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 15px;
}
.saltoA {
	border-style: solid;
	border-color: $color_dove_gray_approx;
	border-width: 1px;
}
#titleTop {
	text-align: center;
	color: $color_donkey_brown_approx;
	font-size: 18px;
	font-family: $font_0;
	font-weight: bolder;
	margin-top: 10px;
}
.coreCenter {
	text-align: center;
	color: $color_donkey_brown_approx;
	font-size: 12px;
	font-family: $font_0;
	font-weight: bold;
	margin-top: 15px;
}
.coreCenterB {
	text-align: center;
	color: $color_gigas_approx;
	font-size: 12px;
	font-family: $font_0;
	font-weight: bold;
	margin-top: 15px;
}
.coreBottom {
	text-align: center;
	color: $color_donkey_brown_approx;
	font-size: 12px;
	font-family: $font_0;
	font-weight: bold;
	margin-top: 15px;
}
.salida {
}
.name {
	float: left;
	color: $color_donkey_brown_approx;
	font-size: 18px;
	font-family: $font_0;
	font-weight: bolder;
	margin-top: 10px;
	font-family: $font_1;
}
.home {
	float: left;
}
.header {
	float: left;
	color: $white;
	width: 100%;
	left: 0;
	padding: left;
	text-align: center;
	margin-left: 0;
	background-color: $color_mine_shaft_approx;
	border-style: solid;
	border-color: $color_soya_bean_approx;
	font-family: $font_2, $font_3;
}
.fas {
	font-size: 2.5em;
	margin-top: 5px;
}
@media screen and(max-width: 576.98px) {
	.colu {
		margin: auto;
	}
}
@media screen and(min-width: 577px) and(max-width: 767.98px) {
	.colu {
		margin: auto;
	}
}
@media screen and(min-width: 768px) and(max-width: 991.98px) {
	.colu {
		margin: auto;
	}
}
@media screen and(min-width: 991.98px) {
	.colu {
		margin: auto;
	}
}