/*Por Axel Octavio Meinguer Estrada - A01653448*/
.container{
    max-width: none;
}
#log{
    text-align: left;
    color:  #a89479;
    width:100%;
    height: 80%;
    background-color: rgba(0,0,0,0.2);
}
.bannerBottom{
   
    text-align: center;
    color: #a89479;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    margin-top: 23px;

}
html{
   background-image: url("../images/tablero.jpg");
   background-size:1750px;
   background-color: black;
}
body{
    background-image: url("../images/tablero.jpg");
    background-size:1750px;
    background-color: black;

    
    color:white;
    margin: auto;
    padding: 0;
    
    position: absolute;
    width: 100%
}

#center2{
        
    width: 100%;
    height: 220px;
    left: 0;
    padding: 0;
    margin-left: 0px;
}
  
.row{
    margin-right: 0px;
}

#main_one{
    width: 100%;
}

#center{
    
    width: 100%;
    height: 420px;
    left: 0;
    padding: 0;
    margin-left: 0px;
}

 .row{
    margin-right: 0px;
}

#top{
   
    width: 100%;
    height: 50px;
    left: 0;
    padding: 0;
    margin-left: 0px;
    background-color: #36312a;
    border-style: solid;
    border-color: #695e4f;
}

#bottom{
    background-color: #3d3020;
    width: 100%;
    height: 180px;
    left: 0;
    padding: 0;
    margin-left: 0px;
    border-top: #695e4f;
    border-style: solid;
    border-width: 10px;
}

#colu3{
    margin-right: auto;
    background-color: rgba(0,0,0,0.5);
}

.colu   {
    
    text-align:center;
    color: #a89479;
    margin-left:auto;
    width:  160px;
    height: 400px;
    margin-top: 15px;

    
}

.Button1{
    margin:auto;
    background-color: #f0ebc5;
    width: 70px;
    align-content: center;
    text-align: center;
    color: black;
    border-style: inset;
    border-color: black;
    border-radius: 10px;
}

.colu2   {
    margin:auto;
    width:  160px;
    height: 180px;  
}

.colA{

 margin-top: 20px;
background-color: #4f4335;
border-style: double;
border-color: dimgrey;
border-radius: 15px;
}
.colB {
    margin-top: 20px;
    background-color: rgba(57, 57, 99, .5);
    border-style: double;
    border-color: darkslateblue;
    border-radius: 15px;
}
.colC{

    margin-top: 20px;
    background-color: rgba(79, 67, 53, .6);
    border-style: double;
    border-color: dimgrey;
    border-radius: 15px;

}

.saltoA{
    /*! margin-top: 20px; */
    /*! background-color: rgba(79, 67, 53, .6); */
    border-style: solid;
    border-color: dimgrey;
    /*! border-radius: 15px; */
    border-width: 1px;
}


#titleTop{
     text-align: center;
     color:#a89479;
    font-size: 18px;
    font-family:sans-serif;
    font-weight: bolder;
    margin-top: 10px;
}
.coreCenter{
 text-align: center;
     color:#a89479;
    font-size: 12px;
    font-family:sans-serif;
    font-weight: bold;
    margin-top: 15px;
}
.coreCenterB{
 text-align: center;
     color:darkslateblue;
    font-size: 12px;
    font-family:sans-serif;
    font-weight: bold;
    margin-top: 15px;
}
.coreBottom{
 text-align: center;
     color:#a89479;
    font-size: 12px;
    font-family:sans-serif;
    font-weight: bold;
    margin-top: 15px;
}

.salida{
    
}
.name{
    float:left;
    color:#a89479;
    font-size: 18px;
    font-family:sans-serif;
    font-weight: bolder;
     margin-top: 10px;
     font-family: 'font';
}
.home{
   float:left;
}
.header{
    float:left;
    color: white;
     width: 100%;
    
    left: 0;
    padding: left;
    text-align: center;
    margin-left: 0px;
    background-color: #36312a;
    border-style: solid;
    border-color: #695e4f;
    font-family: 'Playfair Display', serif;
}
.fas{
  font-size: 2.5em;
  margin-top: 5px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 576.98px) { 
    .colu{
        margin: auto;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 577px) and (max-width: 767.98px) { 
    .colu{
        margin: auto;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .colu{
        margin: auto;
    } 
}

@media screen and (min-width: 991.98px) { 
    .colu{
        margin: auto;
    }
}

