//colors
$color_donkey_brown_approx: #a89479;
$color_judge_gray_approx: rgba(79, 67, 53, 1);
$color_judge_gray_70_approx: rgba(79, 67, 53, 0.7);
$color_dove_gray_approx: dimgrey;
$color_bistre_approx: #3d3020;
$color_soya_bean_approx: #695e4f;
$black: black;
$color_mine_shaft_approx: #36312a;
$color_mint_julep_approx: #f0ebc5;
$color_rhino_50_approx: rgba(57, 57, 99, .5);
$color_gigas_approx: darkslateblue;
$color_judge_gray_60_approx: rgba(79, 67, 53, .6);

//fonts
$font_0: font;
$font_1: sans-serif;

//urls
$url_0: url(MorrisRoman-Black.ttf);
$url_1: url(../images/568827-digital_art-night-town.jpg);

.container {
	max-width: none;
}
@font-face {
	font-family: $font_0;
	src: $url_0 format('truetype');
}
.colA {
	background-color: $color_judge_gray_70_approx;
	border-style: double;
	border-color: $color_dove_gray_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 15px;
	width: 70%;
	margin: auto;
	height: 330px;
	margin-top: 110px;
	p {
		font-family: $font_0;
		font-weight: normal;
	}
}
html {
	background-color: $black;
}
.buttonA {
	background-color: $color_mint_julep_approx;
	width: 70px;
	align-content: center;
	text-align: center;
	color: $black;
	border-style: inset;
	border-color: $black;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 10px;
	a {
		color: $black;
	}
}
.bannerBottom {
	text-align: center;
	color: $color_donkey_brown_approx;
	font-size: 15px;
	font-family: $font_0;
	font-weight: normal;
	margin-top: 23px;
}
.carrouselA {
	width: 100%;
	height: 100%;
}
.imagenes {
	width: 10px;
	margin-top: 15px;
}
#center {
	max-width: 100%;
	left: 0;
	padding: 0;
	margin-left: 0;
	background-image: $url_1;
	background-size: 120%;
	background-repeat: no-repeat;
	background-position: 0 -35px;
}
body {
	margin: 0;
	padding: 0;
	background-color: $black !important;
	position: absolute;
	width: 100%;
}
.carouselSize {
	height: 640px;
}
.slideFontSize {
	font-size: 17px;
}
.center2 {
	width: 100%;
	height: 640px;
	left: 0;
	padding: 0;
	margin-left: 0;
}
.row {
	margin-right: 0;
}
#main_one {
	width: 100%;
}
.center {
	width: 100%;
	height: 640px;
	left: 0;
	padding: 0;
	margin-left: 0;
}
#top {
	width: 100%;
	height: 50px;
	left: 0;
	padding: 0;
	margin-left: 0;
	background-color: $color_mine_shaft_approx;
	border-style: solid;
	border-color: $color_soya_bean_approx;
}
#bottom {
	background-color: $color_bistre_approx;
	width: 100%;
	height: 180px;
	left: 0;
	padding: 0;
	margin-left: 0;
	border-top: $color_soya_bean_approx;
	border-style: solid;
	border-width: 10px;
}
.colu {
	width: 160px;
	padding: 0;
}
.colu2 {
	width: 160px;
	height: 180px;
}
.colB {
	margin-top: 20px;
	background-color: $color_rhino_50_approx;
	border-style: double;
	border-color: $color_gigas_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 15px;
}
.colC {
	margin-top: 20px;
	background-color: $color_judge_gray_60_approx;
	border-style: double;
	border-color: $color_dove_gray_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 15px;
}
.colD {
	background-color: $color_judge_gray_approx;
	width: 100%;
	height: 640px;
}
.inputA {
	margin-left: 10%;
	width: 80%;
	margin-top: 35px;
}
.saltoA {
	border-style: solid;
	border-color: $color_dove_gray_approx;
	border-width: 1px;
}
#titleTop {
	text-align: center;
	color: $color_donkey_brown_approx;
	font-size: 18px;
	font-family: $font_0;
	font-weight: normal;
	margin-top: 10px;
}
.coreCenter {
	text-align: center;
	color: $color_donkey_brown_approx;
	font-size: 12px;
	font-family: $font_1;
	font-weight: bold;
	margin-top: 8px;
}
.tittleCenter {
	text-align: center;
	color: $color_donkey_brown_approx;
	font-size: 13px;
	font-family: $font_1;
	font-weight: bold;
	margin-top: 14px;
}
.tittleCenterA {
	text-align: center;
	color: $color_donkey_brown_approx;
	font-size: 20px;
	font-family: $font_1;
	font-weight: bolder;
	margin-top: 15px;
}
.tittleCenterB {
	text-align: center;
	color: $color_donkey_brown_approx;
	font-size: 12px;
	font-family: $font_1;
	font-weight: bolder;
	margin-top: 15px;
}
.coreCenterB {
	text-align: center;
	color: $color_gigas_approx;
	font-size: 12px;
	font-family: $font_1;
	font-weight: bold;
	margin-top: 15px;
}
.coreBottom {
	text-align: center;
	color: $color_donkey_brown_approx;
	font-size: 12px;
	font-family: $font_0;
	font-weight: lighter;
	margin-top: 15px;
}
@media screen and(max-width: 576.98px) {
	#titleTop {
		text-align: center;
		color: $color_donkey_brown_approx;
		font-size: 18px;
		font-family: $font_0;
		font-weight: normal;
		margin-top: 10px;
	}
	#center {
		max-width: 100%;
		left: 0;
		padding: 0;
		margin-left: 0;
		height: 840px;
		background-image: $url_1;
		background-size: 410%;
		background-repeat: no-repeat;
		background-position: 0 0;
	}
	.imagenes {
		width: 10px;
		margin-top: 15px;
		bottom: -5.5%;
	}
	.infoCarousel {
		display: block;
	}
	.coluBottom {
		margin: auto;
		flex-basis: auto !important;
	}
	.inputA {
		font-size: 13px;
		margin-left: 10%;
		width: 80%;
		margin-top: 15px;
	}
	.bannerBottom {
		font-size: 16px;
		font-style: bolder;
	}
	.coreBottom {
		font-size: 11px;
	}
	#bottom {
		height: 350px;
		p {
			padding: 0;
			margin: 8px;
			font-size: 15px;
		}
	}
	.slideFontSize {
		font-size: 12.5px;
	}
	.center {
		width: 100%;
		height: 380px;
		left: 0;
		padding: 0;
		margin-left: 0;
	}
	.center2 {
		width: 100%;
		height: 480px;
		left: 0;
		padding: 0;
		margin-left: 0;
	}
	.colD {
		background-color: $color_judge_gray_approx;
		width: 100%;
		height: 480px;
	}
	.carrouselA {
		width: 100%;
		height: 480px;
	}
	.carouselSize {
		height: 480px;
	}
	.colA {
		background-color: $color_judge_gray_70_approx;
		border-style: double;
		border-color: $color_dove_gray_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 15px;
		width: 70%;
		margin: auto;
		height: 280px;
		margin-top: 45px;
	}
}
@media screen and(min-width: 577px) and(max-width: 767.98px) {
	#center {
		max-width: 100%;
		left: 0;
		padding: 0;
		margin-left: 0;
		height: 640px;
		background-image: $url_1;
		background-size: 145%;
		background-repeat: no-repeat;
		background-position: -90px 0;
	}
	.imagenes {
		width: 10px;
		margin-top: 15px;
		bottom: -6%;
		margin-top: 85px;
	}
	#bottom {
		background-color: $color_bistre_approx;
		width: 100%;
		height: 150px;
		left: 0;
		padding: 0;
		margin-left: 0;
		border-top: $color_soya_bean_approx;
		border-style: solid;
		border-width: 10px;
		bottom: 0;
		position: fixed;
		p {
			padding: 0;
			margin: 8px;
			font-size: 10px;
		}
	}
	.inputA {
		font-size: 10px;
		margin-left: 10%;
		width: 80%;
		margin-top: 15px;
	}
	.bannerBottom {
		font-size: 10px;
		font-style: bolder;
	}
	.coreBottom {
		font-size: 8px;
	}
	.slideFontSize {
		font-size: 11px;
	}
	.center {
		width: 100%;
		height: 480px;
		left: 0;
		padding: 0;
		margin-left: 0;
	}
	.center2 {
		width: 100%;
		height: 480px;
		left: 0;
		padding: 0;
		margin-left: 0;
	}
	.colD {
		background-color: $color_judge_gray_approx;
		width: 100%;
		height: 480px;
	}
	.carrouselA {
		width: 100%;
		height: 480px;
	}
	.carouselSize {
		height: 480px;
	}
	.colA {
		background-color: $color_judge_gray_70_approx;
		border-style: double;
		border-color: $color_dove_gray_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 15px;
		width: 70%;
		margin: auto;
		height: 280px;
		margin-top: 85px;
		p {
			font-size: 12px;
		}
	}
	.coluBottom {
		margin: auto;
	}
}
@media screen and(min-width: 768px) and(max-width: 991.98px) {
	#center {
		max-width: 100%;
		left: 0;
		padding: 0;
		margin-left: 0;
		height: 640px;
		background-image: $url_1;
		background-size: 130%;
		background-repeat: no-repeat;
	}
	.imagenes {
		width: 10px;
		margin-top: 15px;
		bottom: -2.5%;
		margin-top: 55px;
	}
	#bottom {
		background-color: $color_bistre_approx;
		width: 100%;
		height: 150px;
		left: 0;
		padding: 0;
		margin-left: 0;
		border-top: $color_soya_bean_approx;
		border-style: solid;
		border-width: 10px;
		bottom: 0;
		position: fixed;
		p {
			padding: 0;
			margin: 8px;
			font-size: 10.5 px;
		}
	}
	.slideFontSize {
		font-size: 15.5px;
	}
	.center {
		width: 100%;
		height: 480px;
		left: 0;
		padding: 0;
		margin-left: 0;
	}
	.center2 {
		width: 100%;
		height: 480px;
		left: 0;
		padding: 0;
		margin-left: 0;
	}
	.colD {
		background-color: $color_judge_gray_approx;
		width: 100%;
		height: 480px;
	}
	.carrouselA {
		width: 100%;
		height: 480px;
	}
	.carouselSize {
		height: 480px;
	}
	.colA {
		background-color: $color_judge_gray_70_approx;
		border-style: double;
		border-color: $color_dove_gray_approx;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 15px;
		width: 70%;
		margin: auto;
		height: 330px;
		margin-top: 70px;
	}
}
@media screen and(min-width: 991.98px) {
	.imagenes {
		width: 10px;
		margin-top: 15px;
		bottom: -1.5%;
	}
	#bottom {
		background-color: $color_bistre_approx;
		width: 100%;
		height: 180px;
		left: 0;
		padding: 0;
		margin-left: 0;
		border-top: $color_soya_bean_approx;
		border-style: solid;
		border-width: 10px;
	}
}